:root {
  font-family:  Verdana, Lucida Console, Monaco, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121; 
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none; 
}

footer { 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  padding-bottom: 3rem; 
  background-attachment: fixed; 
} 
footer a { 
  margin: 0 3rem;  
}


.nav {  
  background-color: #0e6251;
  display: flex;
  padding: 0;   
  overflow: hidden; 
  height: 1.5rem; 
}

.nav a { 
  color: #640466;
  margin: 0 1rem;
  padding: 0.25rem 2rem 0.5rem 4.5rem;   
  white-space: nowrap;  
}

#logo_name { 
  width: 100%; 
  height: auto;
    
  background-image: linear-gradient(to left, #0e6251, #148f77 );
  display: flex; 
  align-self: flex-start; 
  padding: 0.25rem 0; 
}

#logo_name img { 
  margin: 0 1rem;   
}

a {
  font-weight: 500;
  color: #640466;
  
  text-decoration: inherit;
}
a:hover {
  color: #1d92d4;
  
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  text-align: left; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212121;
    background-color: #e8e8e8;
  }
  a:hover {
    color: #00dada;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 460px){

  .nav a { 
    margin: 0; 
    padding: 0 1.5rem; 
  }
  
}



